<!DOCTYPE html>


<html lang="fr-FR" dir="ltr">

<head>

    <meta charset="utf-8" /> <!-- understand accents -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Figurine OnlineShop" /><!-- not mandatory-->
    <meta name="author" content="Caldora Enzo" /> <!-- not mandatory-->
    <meta name="keywords" content="Figurine Final Fantasy shop" /> <!-- not mandatory-->
    <title> oFig </title>
    <!-- LINKING TWO STYLESHEETS -->
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <!-- END OF IT-->
    <link rel="icon" type="icon/png" href="/images/cloud.png">
    <script src="https://kit.fontawesome.com/13462040d3.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- Banner-->
    <header class="banner">
        <h1><a href="../index.html">oFig </a><span class="fig" aria-label="what the WebShop sell">Figurines et statuettes</span></h1>
        <nav><a href="panier.html"><i class="fas fa-shopping-cart" style="color: #ffffff;"></i> Mon panier</a></nav>
        <h2 class="banner-title">Figurines sur le thème <em>Final Fantasy</em></h2>
    </header>
    <!-- Banner End-->
    <main>
        <section id="products-section">
            <!-- 1 card-->
            <article class="product-article" aria-label="Cloud Strife Remake Final Fantasy">
                <div class="image-container"><img src="images/cloud.png" alt="Cloud strife remake figurine">
                    <p>Final Fantasy VII</p>
                </div>
                <div class="info-container">
                    <h2 class="product-title">Cloud Strife Remake</h2>
                    <p>Figurine de 8 pouces - livrée avec son packaging</p>
                </div>
                <div class="button-container">
                    <button>
                        <span class="button-text" aria-label="button text">Ajouter au panier</span>
                        <span class="old-price" aria-label="old-price">74,90€</span>
                        <span class="price" aria-label="price"> 59 €</span>
                    </button>
                </div>
                <div class="icon-sales">
                    <span class="sales">-20%</span>
                </div>
            </article>
            <!-- End of Card-->
            <article class="product-article" aria-label="Tifa Lockhart Final Fantasy">
                <div class="image-container">
                    <img src="../images/tifa.png" alt="Tifa Lockhart figurine">
                    <p>Final Fantasy Advent Children</p>
                </div>
                <div class="info-container">
                    <h2>Tifa Lockhart</h2>
                    <p>Figurine de 7 pouces - livrée avec son packaging</p>
                </div>
                <div class="button-container">
                    <button>
                        <span class="button-text" aria-label="button-text">Ajouter au panier</span>
                        <span class="old-price" aria-label="old-price">98,90€</span>
                        <span class="price" aria-label="price">69 €</span>
                    </button>
                </div>
                <div class="icon-sales">
                    <span class="sales">-30%</span>
                </div>
            </article>

        </section>
        <!-- Decoration above footer-->
        <div class="footer-decoration" aria-hidden="true">
            <img src="images/deco.png" alt="">
        </div>
    </main>
    <footer>
        <p>oFig - toutes les images sont sous copyright SquareEnix</p>
    </footer>
</body>